@import url(./variables.css);

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #252525;
    border-top-right-radius: 6px; 
    border-bottom-right-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background: #5f0000; 
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #750000; 
}

#loading {
    width: 100%;
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: var(--default-background-color);
    margin: 0;
}

.sidenav {
    width: 15%;
    max-width: 150px;
    min-width: 100px;
    position: fixed;
    left: 0;
    top: 30px;
    background-color: #000;
}

.sidenav div {
    padding: 15px 0px 15px 18px;
    border: 1px solid white;
    transition: 0.6s cubic-bezier(.17,.67,.56,.99);
}

.sidenav div p {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.sidenav div:hover {
    padding-left: 26px;
    background-color: #222;
    transition: 0.6s cubic-bezier(.17,.67,.56,.99);
}

.sidenav div:last-child {
    border-bottom-right-radius: 10px;
}

.pageHeader {
    text-align: center;
}

.topBar {
    display: inline-block;
    align-items: center;
    height: 30px;
    border-bottom: 1px solid white;
    width: 100%;
    overflow: hidden;
    padding: 0;
    position: fixed;
    background-color: #070020;
}

.topBar div {
    padding: 5px 20px 0px 20px;
    float: left;
    margin: 0;
    border-right: 1px solid white;
    align-items: center;
    height: 100%;
    text-align: center;
}

.topBar div p {
    z-index: 1;
    margin: auto;
    padding: 0;
}

.page {
    z-index: 2;
    margin: 0 20% 0 20%;
}